<ng-container *ngIf="vehicle">
  <div class="container">
    <div class="flex-container">
      <div class="text-container">
        <span>Marka:</span> {{vehicle.brand}}
      </div>
      <div class="text-container">
        <span>Model:</span> {{vehicle.model}}
      </div>
      <div class="text-container">
        <span>Rok produkcji:</span> {{vehicle.productionYear}}
      </div>
    </div>
    <div class="flex-container">
      <div class="text-container">
        <span>Numer rejestracyjny:</span> {{vehicle.licensePlate}}
      </div>
      <div class="text-container">
        <span>VIN:</span> {{vehicle.vin}}
      </div>
      <div class="text-container">
        <span>Data zakupu:</span> {{vehicle.purchaseDate}}
      </div>
    </div>
    <div class="flex-container">
      <div class="text-container">
        <span>Rodzaj silnika:</span> {{getDictionaryLabel(vehicle.engineType, DictionaryType.ENGINE_TYPES)}}
      </div>
      <div class="text-container">
        <span>Skrzynia:</span> {{getDictionaryLabel(vehicle.transmissionType, DictionaryType.TRANSMISSION_TYPES)}}
      </div>
      <div class="text-container">
        <span>Przebieg w dniu zakupu:</span> {{vehicle.purchaseMileage}} [km]
      </div>
    </div>

    <div class="icon-container">
      <mat-icon matTooltip="Edytuj" (click)="editVehicleDialog()">create</mat-icon>
      <mat-icon matTooltip="Usuń" (click)="deleteVehicle(vehicle.id)">delete_sweep</mat-icon>
    </div>
  </div>
</ng-container>
