form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.input-data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

span {
  color: red;
  margin: 0;
  font-size: 14px;
}
