.wrapper {
  width: 100%;
}

.close-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.close-container > mat-icon {
  transform: scale(1);
}

.notifies-list-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notify-container {
  display: flex;
}
