<div class="container">
  <div class="vehicle-container">
    <div class="vehicle-title-container">
      <h4>Dane pojazdów</h4>
      <mat-icon [fontIcon]="'expand_more'" (click)="togglePanel()" matTooltip="Rozwiń"
                *ngIf="!panelExpanded"></mat-icon>
      <mat-icon [fontIcon]="'expand_less'" (click)="togglePanel()" *ngIf="panelExpanded"></mat-icon>
    </div>
    <div *ngIf="panelExpanded" class="vehicle-data-container">
      <div class="columns-container">
        <h4>Nazwa pojazdu</h4>
        <h4>Szerokość geograficzna</h4>
        <h4>Długość geograficzna</h4>
        <h4>Czas</h4>
      </div>
      <div class="coordinate-container" *ngFor="let coordinate of vehicleCoordinates">
        <div class="coordinate-child-container" *ngFor="let dataCoordinate of coordinate.data"
             (mouseenter)="onCoordinateSelect(dataCoordinate, coordinate.vehicleName)" (mouseleave)="onCoordinateUnSelect()">
          <span>{{ coordinate.vehicleName }}</span>
          <span class="text-center">{{ dataCoordinate.latitude }}°</span>
          <span class="text-right">{{ dataCoordinate.longitude }}°</span>
          <span class="text-right">{{ dataCoordinate.time | date: 'YYYY-MM-dd HH:mm:SS' }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
</div>
