<div class="container" *ngIf="inspection">
  <div class="flex-container">
    <div class="text-container"><span>Data:</span> {{inspection.date}}</div>
  </div>
  <div class="flex-container">
    <div class="text-container">
      <div><span>Wymiana oleju:</span> {{getBooleanLabel(inspection.oilChanged)}}</div>
    </div>
    <div class="text-container">
      <div><span>Wymiana filtra oleju:</span> {{getBooleanLabel(inspection.oilFilterChanged)}}</div>
    </div>
    <div class="text-container">
      <div><span>Typ oleju:</span> {{inspection.oilType}}</div>
    </div>
  </div>
  <div class="flex-container">
    <div class="text-container">
      <div><span>Wymiana filtra paliwa:</span> {{getBooleanLabel(inspection.fuelFilterChanged)}}</div>
    </div>
    <div class="text-container">
      <div><span>Wymiana świec:</span> {{getBooleanLabel(inspection.sparkPlugChanged)}}</div>
    </div>
    <div class="text-container">
      <div><span>Wymiana filtra powierza:</span> {{getBooleanLabel(inspection.airFilterChanged)}}</div>
    </div>
    <div class="text-container">
      <div><span>Wymiana filtra powierza:</span> {{getBooleanLabel(inspection.cabinFilterChanged)}}</div>
    </div>
  </div>
  <div class="flex-container">
    <div class="text-container">
      <div><span>Dodatkowe informacje:</span> {{inspection.additionalInfo}}</div>
    </div>
    <div class="text-container">
      <div><span>Przebieg w dniu przeglądu:</span> {{inspection.currentMileage}} [km]
      </div>
    </div>
    <div class="text-container">
      <div><span>Przebieg następnego przeglądu:</span> {{inspection.nextServiceMileage}} [km]</div>
    </div>
  </div>
  <div class="icon-container">
    <mat-icon matTooltip="Usuń" (click)="deleteInspection(inspection.id)">delete_sweep</mat-icon>
  </div>
</div>
