<div class="wrapper">
  <form [formGroup]="form">
    <h4>Zaloguj się</h4>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="hasFormError('email','required')">Pole wymagane</mat-error>
      <mat-error *ngIf="hasFormError('email','pattern')">Niepoprawny format adresu email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Hasło</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="hasFormError('password','required')">Pole wymagane</mat-error>
      <mat-error *ngIf="hasFormError('password','minlength')">Wymagane minimum 5 znaków</mat-error>
    </mat-form-field>
    <a [routerLink]="[{ outlets: { nonAuthenticated: ['sign-up'] } }]" class="nav-link">Nie posiadasz konta? Zarejestruj się</a>
    <a [routerLink]="[{ outlets: { nonAuthenticated: ['reset-password'] } }]" class="nav-link">Nie pamiętasz hasła?</a>
    <button mat-raised-button (click)="signIn()">Zaloguj się</button>
  </form>
</div>
