<div class="container">
  <h4>Ubezpieczenia</h4>
  <div class="top-nav">
    <mat-form-field>
      <mat-select placeholder="Wybierz pojazd" (valueChange)="getInsurancesForVehicle($event)">
        <ng-container *ngIf="vehicles.length > 0; else noVehicles">
          <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle.id">{{vehicle.brand}} {{vehicle.model}}
            ({{vehicle.licensePlate}})
          </mat-option>
        </ng-container>
        <ng-template #noVehicles>
          <mat-option>Brak pojazdów</mat-option>
        </ng-template>
      </mat-select>
    </mat-form-field>
  </div>

  <ng-container *ngIf="insurances.length > 0;else noInsurance">
    <div class="my-insurance-cards-container" *ngFor="let insurance of insurances">
      <my-insurance-card [insurance]="insurance" (deleteInsuranceEmitter)="deleteInsurance(insurance)"></my-insurance-card>
    </div>
  </ng-container>

  <ng-template #noInsurance>
    <div id="noInsurance" *ngIf="vehicleIdSelected">
      Brak informacji o ubezpieczeniu dla danego pojazdu
    </div>
  </ng-template>

  <div class="button-container">
    <button mat-raised-button (click)="addInsurance(vehicleIdSelected)" [disabled]="!vehicleIdSelected">Dodaj
      ubezpieczenie
    </button>
  </div>

</div>
