<div class="container" *ngIf="expension">
  <div class="flex-container">
    <div class="text-container"><span>Data:</span> {{expension.date}}</div>
  </div>
  <div class="flex-container">
    <div class="text-container"><span>Kwota:</span> {{expension.amount}} PLN</div>
  </div>
  <div class="flex-container">
    <div class="text-container"><span>Informacje:</span> {{expension.info}}</div>
  </div>
  <div class="flex-container" >
    <div class="text-container"><span>Załączniki:</span>
      <ng-container *ngFor="let attachment of expension.attachmentsNames">{{attachment}}
        <mat-icon matTooltip="Pobierz" (click)="downloadAttachment(attachment)">download_for_offline</mat-icon>
      </ng-container>
    </div>
  </div>
  <div class="icon-container">
    <mat-icon matTooltip="Usuń" (click)="deleteExpension(expension.id)">delete_sweep</mat-icon>
  </div>
</div>
