form {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 10px;
  background-color: var(--router-bg-color);
  color: var(--router-text-color);
}

h4 {
  text-align: center;
}

.button-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
