.container {
  display: flex;
  justify-content: left;
  background-color: var(--nav-bg-color);
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container > img {
  height: 60px;
  width: 100px;
  padding: 0 10px;
}

.logo-container > img:hover {
  cursor: pointer;
}

.list-item mat-icon {
  float: right;
  color: white !important;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.list-item * {
  color: white;
}

.list-item-inactive {
  color: #9999a9;
}

.list-item span, .profile-container > span {
  color: white;
  font-family: neuropol, Roboto, sans-serif;
}

mat-icon {
  color: white !important;
  transform: scale(1);
}

.mdc-list-item__primary-text {
  color: white !important;
}

.bottom-container {
  position: fixed;
  display: flex;
  justify-content: left;
  flex-direction: column;
  bottom: 0;
  width: 280px;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.icon-container {
  display: flex;
  gap: 20px;
  padding: 10px;
  width: 100%;
}

.is-active {
  background-color: var(--nav-bg-color-hover);
}

.mat-divider {
  border-top-color: white !important;
}

.slide-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  gap: 10px;
}
