<div class="container">
  <div class="logo-container" routerLink="/">
    <img alt="" src="assets/images/nav-logo.png">
  </div>
  <mat-nav-list class="nav-list">
    <mat-list-item class="list-item" routerLink="my-vehicles" [routerLinkActive]="['is-active']">
      <span>Pojazdy</span>
      <mat-icon [fontIcon]="'directions_car'"></mat-icon>
    </mat-list-item>
    <mat-list-item class="list-item" routerLink="my-insurances" [routerLinkActive]="['is-active']">
      <span>Ubezpieczenia</span>
      <mat-icon [fontIcon]="'credit_card'"></mat-icon>
    </mat-list-item>
    <mat-list-item class="list-item" routerLink="my-inspections" [routerLinkActive]="['is-active']">
      <span>Przeglądy</span>
      <mat-icon [fontIcon]="'car_repair'"></mat-icon>
    </mat-list-item>
    <mat-list-item class="list-item" routerLink="my-expenses" [routerLinkActive]="['is-active']">
      <span>Wydatki</span>
      <mat-icon [fontIcon]="'attach_money'"></mat-icon>
    </mat-list-item>
    <mat-list-item class="list-item" routerLink="timeline" [routerLinkActive]="['is-active']">
      <span>Oś czasu</span>
      <mat-icon [fontIcon]="'timeline'"></mat-icon>
    </mat-list-item>
    <mat-list-item class="list-item" routerLink="scheduler" [routerLinkActive]="['is-active']">
      <span>Terminarz</span>
      <mat-icon [fontIcon]="'calendar_month'"></mat-icon>
    </mat-list-item>
    <mat-list-item class="list-item" routerLink="reports" [routerLinkActive]="['is-active']">
      <span>Raporty</span>
      <mat-icon [fontIcon]="'insert_drive_file'"></mat-icon>
    </mat-list-item>
  </mat-nav-list>
  <mat-divider></mat-divider>
  <div class="bottom-container">
    <mat-nav-list class="nav-list">
      <mat-list-item class="list-item" routerLink="profile" [routerLinkActive]="['is-active']">
        <span>Ustawienia</span>
        <mat-icon [fontIcon]="'person'"></mat-icon>
      </mat-list-item>
      <mat-list-item class="list-item" (click)="logout()" [routerLinkActive]="['is-active']">
        <span>Wyloguj się</span>
        <mat-icon [fontIcon]="'logout'"></mat-icon>
      </mat-list-item>
    </mat-nav-list>
    <div class="slide-container">
      <mat-icon [fontIcon]="'light_mode'"></mat-icon>
      <mat-slide-toggle (change)="changeTheme($event.checked)" [(ngModel)]="darkMode"></mat-slide-toggle>
      <mat-icon [fontIcon]="'nightlight'"></mat-icon>
    </div>
    <div class="profile-container">
      <span>{{user.firstName}} {{user.lastName}}</span>
      <mat-icon [matBadge]="annotations.length" *ngIf="annotations.length > 0" matTooltip="Powiadomienia">notifications_on</mat-icon>
      <mat-icon matBadge="0" *ngIf="annotations.length === 0" matTooltip="Brak powiadomień" aria-hidden="false">notifications_off</mat-icon>
    </div>
  </div>
</div>
