.container {
  display: flex;
  justify-content: left;
  background-color: var(--nav-bg-color);
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container > img {
  height: 60px;
  width: 100px;
  padding: 0 10px;
}

.logo-container > img:hover {
  cursor: pointer;
}

.list-item mat-icon {
  float: right;
  color: white !important;
}

.nav-list {
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
}

.list-item * {
  color: white;
}

.list-item-inactive {
  color: #9999a9;
}

mat-icon {
  color: white !important;
  transform: scale(1);
}

.mdc-list-item__primary-text {
  color: white !important;
}

.bottom-container {
  position: fixed;
  bottom: 0;
  left: 70px;
}

.icon-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.is-active {
  background-color: var(--nav-bg-color-hover);
}
