:root {
  --nav-bg-color: #3a3b3d;
  --nav-text-color: white;
  --nav-hover-color: #eae5e5;
  --main-bg-color: #27919a;
  --main-bg-color-hover: #1f646b;
  --main-text-color: white;
  --mat-icon-color: var(--main-bg-color) !important;
  --mat-stepper-header-edit-state-icon-background-color: var(--main-bg-color) !important;
  --mat-stepper-header-done-state-icon-background-color: var(--main-bg-color) !important;
  --mat-stepper-header-selected-state-icon-background-color: var(--main-bg-color) !important;
  --mat-toolbar-container-background-color: var(--main-bg-color) !important;
  --mat-datepicker-toggle-active-state-icon-color: var(--main-bg-color) !important;
  --mat-datepicker-calendar-date-selected-state-background-color: var(--main-bg-color) !important;
  --mat-badge-background-color: var(--main-bg-color) !important;
  --mdc-circular-progress-active-indicator-color: var(--main-bg-color) !important;
  --mdc-icon-button-icon-color: var(--main-bg-color) !important;
  --mat-mdc-button-persistent-ripple-color: var(--main-bg-color) !important;
  --mdc-outlined-button-label-text-color: var(--main-bg-color) !important;
  --mdc-protected-button-container-color: var(--main-bg-color) !important;
  --mdc-filled-button-container-color: var(--main-bg-color) !important;
  --mdc-text-button-label-text-color: var(--main-bg-color) !important;
  --mdc-checkbox-selected-focus-state-layer-color: var(--main-bg-color) !important;
  --mdc-checkbox-selected-hover-state-layer-color: var(--main-bg-color) !important;
  --mdc-checkbox-selected-pressed-state-layer-color: var(--main-bg-color) !important;
  --mdc-checkbox-selected-focus-icon-color: var(--main-bg-color) !important;
  --mdc-checkbox-selected-hover-icon-color: var(--main-bg-color) !important;
  --mdc-checkbox-selected-icon-color: var(--main-bg-color) !important;
  --mdc-checkbox-selected-pressed-icon-color: var(--main-bg-color) !important;
  --mat-tab-header-with-background-background-color: var(--main-bg-color) !important;
  --mat-tab-header-active-focus-label-text-color: var(--main-bg-color) !important;
  --mat-tab-header-active-hover-label-text-color: var(--main-bg-color) !important;
  --mat-tab-header-active-focus-indicator-color: var(--main-bg-color) !important;
  --mat-tab-header-active-hover-indicator-color: var(--main-bg-color) !important;
  --mat-tab-header-active-label-text-color: var(--main-bg-color) !important;
  --mat-tab-header-active-ripple-color: var(--main-bg-color) !important;
  --mat-tab-header-inactive-ripple-color: var(--main-bg-color) !important;
  --mdc-tab-indicator-active-indicator-color: var(--main-bg-color) !important;
  --mdc-radio-selected-focus-icon-color: var(--main-bg-color) !important;
  --mdc-radio-selected-hover-icon-color: var(--main-bg-color) !important;
  --mdc-radio-selected-icon-color: var(--main-bg-color) !important;
  --mdc-radio-selected-pressed-icon-color: var(--main-bg-color) !important;
  --mdc-slider-with-tick-marks-inactive-container-color: var(--main-bg-color) !important;
  --mat-mdc-slider-ripple-color: var(--main-bg-color) !important;
  --mdc-slider-handle-color: var(--main-bg-color) !important;
  --mdc-slider-focus-handle-color: var(--main-bg-color) !important;
  --mdc-slider-hover-handle-color: var(--main-bg-color) !important;
  --mdc-slider-active-track-color: var(--main-bg-color) !important;
  --mdc-slider-inactive-track-color: var(--main-bg-color) !important;
  --mat-radio-checked-ripple-color: var(--main-bg-color) !important;
  --mdc-chip-elevated-container-color: var(--main-bg-color) !important;
  --mdc-chip-elevated-disabled-container-color: var(--main-bg-color) !important;
  --mdc-outlined-text-field-caret-color: var(--main-bg-color) !important;
  --mdc-outlined-text-field-focus-outline-color: var(--main-bg-color) !important;
  --mdc-filled-text-field-caret-color: var(--main-bg-color) !important;
  --mdc-filled-text-field-focus-active-indicator-color: var(--main-bg-color) !important;
  --mdc-linear-progress-active-indicator-color: var(--main-bg-color) !important;
  --mat-option-selected-state-label-text-color: var(--main-bg-color) !important;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: 'impact';
  src: url('../src/assets/fonts/impact.ttf');
}

/* ANGULAR MATERIAL */

.mat-mdc-raised-button.mat-unthemed {
  --mdc-protected-button-container-color: var(--main-bg-color) !important;
  --mdc-protected-button-label-text-color: var(--main-text-color) !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  caret-color: black !important;
}

.mat-primary .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
  color: var(--main-bg-color) !important;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: black !important;
}

.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background {
  border-color: var(--main-bg-color) !important;
  background-color: var(--main-bg-color) !important;
}

::ng-deep .mdc-text-field .mdc-text-field__input {
  border-color: var(--main-bg-color) !important;
}

.mdc-text-field--filled .mdc-line-ripple:after {
  border-color: var(--main-bg-color) !important;
}

.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
  background: var(--main-bg-color) !important;
}

.snack-bar-success, .snack-bar-success button {
  border-radius: 10px !important;
  background-color: #49830a !important;
  --mdc-snackbar-container-color: #49830a !important;
  color: white !important;
}

.snack-bar-warn, .snack-bar-warn button {
  border-radius: 10px !important;
  background-color: #d7a80e !important;
  --mdc-snackbar-container-color: #d7a80e !important;
  color: white !important;
}

.snack-bar-error, .snack-bar-error button {
  border-radius: 10px !important;
  background-color: #771313 !important;
  --mdc-snackbar-container-color: #771313 !important;
  color: white !important;
}

mat-icon {
  transform: scale(2);
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-bg-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-bg-color-hover);
}

/* APP ELEMENTS */

.nav-link {
  color: black;
  text-decoration: none;
  padding: 10px;
  background-image: linear-gradient(to right, #504f4f, #504f4f);
  background-position: 0 100%;
  background-size: 0 1px;
  background-repeat: no-repeat;
  transition: background-size 0.3s,
  background-position 0s 0.3s;
}

.nav-link:hover {
  color: #504f4f;
  background-position: 100% 100%;
  background-size: 100% 1px;
}
