<div class="wrapper">
  <ng-container *ngIf="vehicles.length > 0; else noVehicles">
    <div class="vehicle-card" *ngFor="let vehicle of vehicles">
      <my-vehicle-card [vehicle]="vehicle" (deleteVehicleEmitter)="deleteVehicle($event)" (editVehicleDialogEmitter)="openEditVehicleDialog($event)"></my-vehicle-card>
    </div>
  </ng-container>

  <ng-template #noVehicles>
    <span id="noVehicles">
    Brak dostępnych pojazdów
    </span>
  </ng-template>

  <div class="button-container">
    <button mat-raised-button (click)="openAddVehicleDialog()">Dodaj pojazd</button>
  </div>

</div>
