.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.vehicle-card {
  display: flex;
  width: 100%;
}

my-vehicle-card {
  width: 100%;
}

.button-container {
  position: absolute;
  bottom: 1%;
  left: 50%;
}

#noVehicles {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

// MEDIA
@media (max-width: 800px) {
  .button-container {
    left: unset;
  }
}
