.wrapper {
  width: 100%;
  height: 100%;
}

.vehicle-card {
  width: 100%;
  height: 100px;
}

.button-container {
  position: absolute;
  bottom: 1%;
  left: 50%;
}

#noVehicles {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
