.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}

mat-select {
  max-width: 300px;
}

.my-inspection-cards-container {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

my-inspection-card {
  width: 100%;
}

#noInspection {
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.button-container {
  position: absolute;
  bottom: 1%;
  left: 50%;
}

// MEDIA
@media (max-width: 800px) {
  .button-container {
    left: unset;
  }
}
