<div class="wrapper">
  <form [formGroup]="form">
    <mat-icon routerLink=".." matTooltip="Wróć">keyboard_backspace</mat-icon>
    <h4>Zarejestruj się</h4>
    <mat-form-field>
      <mat-label>Imię</mat-label>
      <input matInput formControlName="firstName">
      <mat-error *ngIf="hasFormError('firstName','required')">Pole wymagane</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nazwisko</mat-label>
      <input matInput formControlName="lastName">
      <mat-error *ngIf="hasFormError('lastName','required')">Pole wymagane</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="hasFormError('email','required')">Pole wymagane</mat-error>
      <mat-error *ngIf="hasFormError('email','pattern')">Niepoprawny format adresu email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Hasło</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="hasFormError('password','required')">Pole wymagane</mat-error>
      <mat-error *ngIf="hasFormError('password','minlength')">Wymagane minimum 5 znaków</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Potwierdź hasło</mat-label>
      <input matInput type="password" formControlName="password2">
      <mat-error *ngIf="hasFormError('password2','required')">Pole wymagane</mat-error>
      <mat-error *ngIf="hasFormError('password2','passwordDoesntMatch')">Hasła muszą do siebie pasować</mat-error>
    </mat-form-field>
    <button mat-raised-button (click)="signUp()">Zarejestruj się</button>
  </form>
</div>
