.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
}

.button-container {
  position: absolute;
  bottom: 1%;
}

#noVehicles {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
