.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 50px;
  gap: 20px;
}

// MEDIA

@media (max-width: 800px) {
  form {
    flex-direction: column;
  }
}
