<div class="wrapper">
  <form [formGroup]="form">
    <h4>Zmiana hasła</h4>
    <mat-form-field>
      <mat-label>Hasło</mat-label>
      <input matInput formControlName="password">
      <mat-error *ngIf="hasFormError('password','required')">Pole wymagane</mat-error>
      <mat-error *ngIf="hasFormError('password','minlength')">Niepoprawny format adresu email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Potwierdź hasło</mat-label>
      <input matInput formControlName="password2">
      <mat-error *ngIf="hasFormError('password2','required')">Pole wymagane</mat-error>
      <mat-error *ngIf="hasFormError('password2','doesntMatch')">Hasła muszą do siebie pasować</mat-error>
    </mat-form-field>
    <button mat-raised-button (click)="changePassword()">Zmień hasło</button>
  </form>
</div>
