.wrapper {
  height: 100%;
}

.side-menu {
  width: 280px;
  height: 100%;
}

side-menu {
  width: 280px !important;
}

.router-section {
  padding: 20px;
  height: 100%;
  width: calc(100% - 280px);
  overflow: auto;
}

.non-authenticated-router > .router-section {
  width: 100%;
}

.non-authenticated-router {
  display: flex;
  height: 100%;
  width: 100%;
}

.authenticated-router {
  display: flex;
  height: 100%;
  width: 100%;
}

.spinner {
  top: 50%;
  left: 50%;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: var(--main-bg-color);
}
