.wrapper {
  height: 100%;
}

.side-menu {
  width: 280px;
  height: 100%;
}

.router-section {
  padding: 20px;
  height: 100%;
  width: calc(100% - 280px);
  overflow: auto;
  background-color: var(--router-bg-color);
}

.non-authenticated-router > .router-section {
  width: 100%;
}

.non-authenticated-router {
  display: flex;
  height: 100%;
  width: 100%;
}

.authenticated-router {
  display: flex;
  height: 100%;
  width: 100%;
}

.spinner {
  top: 50%;
  left: 50%;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: var(--checkbox-border-color);
}

notifies {
  position: absolute;
  z-index: 1000;
  left: 280px;
  top: 10px;
  padding: 10px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  width: calc(100vw - 280px);
  border-radius: 10px;
  background-color: var(--router-bg-color);
}

// MOBILE

@media (max-width: 800px) {
  .side-menu {
    width: 60px;
  }

  .router-section {
    width: calc(100% - 60px);
    padding: 0;
  }

  notifies {
    left: 0;
    top: 0;
    width: 100vw;
  }
}
