<div class="wrapper">

  <ng-container *ngIf="userLogged; else nonAuthenticated">
    <div class="authenticated-router">
      <div class="side-menu">
        <side-menu [user]="userLogged" [darkMode]="darkMode" (themeChangeEmit)="changeTheme($event)"></side-menu>
      </div>
      <div class="router-section">
        <router-outlet></router-outlet>
      </div>
    </div>
  </ng-container>
  <ng-template #nonAuthenticated>
    <div class="non-authenticated-router">
      <div class="router-section">
        <router-outlet name="nonAuthenticated"></router-outlet>
      </div>
    </div>
  </ng-template>

</div>

<div *ngIf="loading" class="cdk-overlay-container spinner">
  <mat-spinner>
  </mat-spinner>
</div>
